#pages_maincontent{
	top: 0;
	background-image: url(http://wd.halalindong.com/assets/templates/mobile/images/background/8.png);
	background-repeat:no-repeat;
	background-size:100% 98%;
}
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/greatvibes.ttf');
	font-family: greatvibes;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/autumn.ttf');
	font-family: autumn;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/dosis.ttf');
	font-family: dosis;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/watermelon.ttf');
	font-family: watermelon;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/neuton_regular.ttf');
	font-family: neuton_regular;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/elsie_regular.otf');
	font-family: elsie_regular;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/alexbrush_regular.ttf');
	font-family: alexbrush_regular;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/elsieswashcaps_regular.otf');
	font-family: elsieswashcaps_regular;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/mellony_dry_brush.ttf');
	font-family: mellony_dry_brush;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/stylish_calligraphy.ttf');
	font-family: stylish_calligraphy;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/playfairdisplay_regular.otf');
	font-family: playfairdisplay_regular;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/antipasto_regulartrial.ttf');
	font-family: antipasto_regulartrial;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/als_script_regular.ttf');
	font-family: als_script_regular;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/glass_antiqua_regular.ttf');
	font-family: glass_antiqua_regular;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/sacramento_regular.ttf');
	font-family: sacramento_regular;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/setit.otf');
	font-family: setit;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/monotype_corsiva.ttf');
	font-family: monotype_corsiva;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/rs.ttf');
	font-family: rs;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/aracne_light.ttf');
	font-family: aracne_light;
}
	
	
@font-face{
	src: url('http://wd.halalindong.com/assets/templates/mobile/fonts/aracne_regular.ttf');
	font-family: aracne_regular;
}
.main-nav.icons_21 ul li{
	border-bottom: 1px white solid;
	border-right: 1px white solid;
}
.leftmenu_name{
	color: white;
}
#header_top {
	width: 50%;
	margin: 0 auto;
	margin-right: 0px !important;
	text-align: right;
}

#header_bottom {
	width: 40%;
	margin: 0px;
}

#front_title{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: -320px;
    z-index: -10px;
}

#front_title img {
    display: inline-block;
    margin-top: -90px !important;
}


#home_content {
	text-align: center; 
	margin-top: -100px !important;
	margin-bottom: -110px !important; 
	height: 56%; 
	width: 80%; 
	margin: 0 auto;
	padding-top: 70px;

}

#home_content #home_text1 {
	font-family: elsie_regular;
	font-size: 14px;
	color:#204659;
	letter-spacing: 1px;
}

#home_content #wd_data {
	color: white;
}

#home_content #couple_name {
	font-size: 24px;
	font-family: elsie_regular;
	line-height: 84%;
	letter-spacing: 2px;
	
}

#home_content #party_date2 {
	font-size: 18px;
	font-family: elsie_regular;
	letter-spacing: 2px;
}

#home_content #party_date2 i{
	font-size: 7px;
}

#home_content #party_loc {
	text-align: center;
	font-family: elsie_regular;
	font-size: 13px;
}

#couple_content {
	text-align: center; 
	margin-top: 60px !important;
	margin-bottom: 40px !important; 
	width: 70%; 
	margin: 0 auto;
	margin-right: 0px;
	padding: 30px 10px;
}

#couple_content>span {
	font-family: dosis;
	font-size: 14px;
}

#pre_greeting {
	font-family: alexbrush_regular;
	font-size: 18px;
	color:#204659;
}

#brides {
	background-color: transparent;
	font-family: dosis;
}

#brides strong {
	font-family: alexbrush_regular;
	font-size: 24px;
	color:#204659;
}

#couple_content #dengan {
	font-family: dosis;
	font-size: 18px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-weight: bold;
}

#event_content {
	margin-top: 60px !important;
	/*margin-bottom: -250px !important; 
	height: 68%; */
	width: 80%; 
	margin: 0 auto;
	margin-right: 0px;
	padding: 30px 0px 30px 30px;
}

#event_content h2 {
	color:#204659;
	font-family: greatvibes;
	font-size: 30px;
	margin-top: 20px;
	text-align: center;
	border-bottom: none;
	font-weight: bold;
}

#event_content ul{
	margin-top: 20px;
    /*margin-bottom: -85px;*/
    font-size: 14px;
    font-family:dosis;
}

#event_content>ul>li{
    border-bottom: none;
}

#akad>h4>a{
    font-weight: bold; 
}

#map_content {
	margin-top: 60px !important;
	margin-bottom: 0px !important; 
	width: 80%; 
	margin: 0 auto;
	margin-right: 0px;
	padding: 30px 10px 30px 30px;
	text-align: center;
}

#map_content h2 {
	color:#204659;
	font-family: greatvibes;
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	border-bottom: none;
	font-weight: bold;
}

#map_content_iframe {
    border:0;  
}

#map_content>a {
    background-color:#204659; 
    color: white;
}

#quotes_content {
	margin-top: 60px !important;
	margin-bottom: 30px !important;  
	width: 70%; 
	margin: 0 auto;
	margin-right: 0px;
	margin-left: 50px;
	padding: 30px 10px 0px 40px;
	text-align: center;
}

#quotes_content h2 {
	color:#204659;
	font-family: greatvibes;
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	border-bottom: none;
	font-weight: bold;
}

#quotes_content span {
   font-family: dosis;
   font-size: 16px; 
}

#says_content {
	margin-top: 60px !important;
	margin-bottom: 30px !important;  
	width: 75%; 
	margin: 0 auto;
	margin-left: 40px;
	padding: 30px 10px 0px 30px;
}

#says_content h2 {
	color:#204659;
	font-family: greatvibes;
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	border-bottom: none;
	font-weight: bold;
}

.submit_button {
  background-color: #204659 !important;
  color: white !important;
  font-size: 16px !important;
}

#says_content>ul{
    margin-top: 20px;
}

#says_content>ul>li{
	border-bottom: none;
	
}

#comment_start {
    display: none;
}

#gallery_content {
	margin-top: 60px !important;
	margin-bottom: 60px !important; 
	width: 80%; 
	margin: 0 auto;
	margin-left: 40px;
	padding: 30px 10px 0px 30px;
	text-align: center;
}

#gallery_content h2 {
	color:#204659;
	font-family: greatvibes;
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	border-bottom: none;
	font-weight: bold;
}

#gallery_content .photos_tabs {
	margin-top: 0px;
}

#photoslist>li{
    width: 32.5%;
    padding: 1px;
}

#photoslist{
    margin-bottom: -10px;
}

#video_content {
	margin-top: 60px !important;
	margin-bottom: 60px !important; 
	width: 75%; 
	margin: 0 auto;
	margin-left: 40px;
	padding: 30px 10px 0px 30px;
	
}

#video_content h2 {
	color:#204659;
	font-family: greatvibes;
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
	border-bottom: none;
	font-weight: bold;
}

#video_name {
    background-color: #204659; 
    color: white !important;
    font-size: 16px !important;
}
.icon-title{
	color: black;
	font-size: 12px;
}

.icon-title-more{
	color: white;
}

#mainmenu{
	background-image: url(#ffffff);
}

.bottom_menu_open{
	background-color:#204659;
}

.toolbar-icon a img {
	margin-top: 10%;
}
.music-box {
  position: fixed;
  width: 300px;
  height: 160px;
  z-index: 120;
  bottom: 30px;
  right: 30px;
}

@media (max-width: 991px) {
  .music-box {
    width: 50px;
    height: 150px;
    right: auto;
    right:10px;
    top:10px;
  }
}

.music-box .music-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: -30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.music-box .music-holder iframe {
  width: 100%;
  height: 100%;
}

.music-box button {
  background: rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  line-height: 37px;
  font-size: 18px;
  font-size: 1rem;
  color: #204659;
  border: 1px solid #e6e6e6;
  outline: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.music-box button i{
	font-size: 20px;
}

@media (max-width: 991px) {
  .music-box button {
    right: 0;
    left: auto;
  }
}

.music-box .toggle-music-box {
  top: -50px;
  visibility: visible;
  opacity: 1;

}


.music {
  padding: 0;
  background: none !important;
  border: none !important;
  position: relative;
  top: 100px;
  left: 180px;
}

.music:focus {
  outline: none;
}

.fa-stack{
    right:12px;
    top: -65px;
    width: 0;
    height: 0;
}
.active{
	visibility: "";
}
.hidden{
	visibility: hidden;
}