#pages_maincontent
{
  	top: 0;
  	background-image: url(../images/5.png);
  	background-color: ;
}   
@font-face
{
    src: url('../fonts/greatvibes.ttf');
    font-family: greatvibes;
}

    
@font-face
{
    src: url('../fonts/autumn.ttf');
    font-family: autumn;
}
@font-face
{
    src: url('../fonts/dosis.ttf');
    font-family: dosis;
}
@font-face
{
    src: url('../fonts/watermelon.ttf');
    font-family: watermelon;
}
@font-face
{
    src: url('../fonts/neuton_regular.ttf');
    font-family: neuton_regular;
}
@font-face
{
    src: url('../fonts/elsie_regular.otf');
    font-family: elsie_regular;
}


@font-face
{
    src: url('../fonts/alexbrush_regular.ttf');
    font-family: alexbrush_regular;
}


@font-face
{
    src: url('../fonts/elsieswashcaps_regular.otf');
    font-family: elsieswashcaps_regular;
}


@font-face
{
    src: url('../fonts/mellony_dry_brush.ttf');
    font-family: mellony_dry_brush;
}


@font-face
{
    src: url('../fonts/stylish_calligraphy.ttf');
    font-family: stylish_calligraphy;
}


@font-face
{
    src: url('../fonts/playfairdisplay_regular.otf');
    font-family: playfairdisplay_regular;
}


@font-face
{
    src: url('../fonts/antipasto_regulartrial.ttf');
    font-family: antipasto_regulartrial;
}


@font-face
{
    src: url('../fonts/als_script_regular.ttf');
    font-family: als_script_regular;
}

@font-face
{
    src: url('../fonts/glass_antiqua_regular.ttf');
    font-family: glass_antiqua_regular;
}


@font-face
{
    src: url('../fonts/sacramento_regular.ttf');
    font-family: sacramento_regular;
}


@font-face
{
    src: url('../fonts/setit.otf');
    font-family: setit;
}


@font-face
{
    src: url('../fonts/monotype_corsiva.ttf');
    font-family: monotype_corsiva;
}


@font-face
{
    src: url('../fonts/rs.ttf');
    font-family: rs;
}


@font-face
{
    src: url('../fonts/aracne_light.ttf');
    font-family: aracne_light;
}


@font-face
{
    src: url('../fonts/aracne_regular.ttf');
    font-family: aracne_regular;
}

.main-nav.icons_21 ul li
{
    border-bottom: 1px #a1642a solid;
    border-right: 1px #a1642a solid;
}
.leftmenu_name
{
    color: #a1642a;
}

#pages_maincontent
{
    margin: none; 
}

#front_title
{
    width: 100%;
    margin: 0px;
    text-align: right;
    margin-top: 70px;
    margin-bottom: -320px;
}

#front_title img 
{
    display: inline-block;
}

#home_content 
{
    margin-bottom: -70px !important;
    height: 70%; 
    width: 60%; 
    text-align: center; 
    margin: 0 auto;
    padding-top: 0px;
    margin-top: 10px;
}

#home_content> span
{
    color:black;
    font-size: 11px;
    font-family: playfairdisplay_regular;
}

#home_text1
{
    letter-spacing: 1px;
}

.couple_name
{
    font-size: 30px;
    font-family: antipasto_regulartrial;
    color:#a1642a;
    letter-spacing: 4px;
    line-height: 90%;
}

.couple_name>span
{
    font-family: alexbrush_regular;
}

#home_text2
{
    color:black;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

#party_date2
{
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

#party_loc
{
    text-align: center;
}

.icon-title
{
    color: #a1642a;
    font-size: 12px;
}

.icon-title-more
{
    color: #a1642a;
}

#mainmenu
{
    background-image: url(../images/5.png);
}

.bottom_menu_open
{
    background-color:#d3d6cb;
}

.toolbar-icon a img 
{
    margin-top: 10%;
}
.music-box 
{
    position: fixed;
    width: 300px;
    height: 160px;
    z-index: 120;
    bottom: 30px;
    right: 30px;
}

@media (max-width: 991px)
{
    .music-box 
    {
        width: 50px;
        height: 150px;
        right: auto;
        right:10px;
        top:10px;
    }
}

.music-box .music-holder 
{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -30px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.music-box .music-holder iframe 
{
    width: 100%;
    height: 100%;
}

.music-box button 
{
    background: rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    line-height: 37px;
    font-size: 18px;
    font-size: 1rem;
    color: #31432d;
    border: 1px solid #e6e6e6;
    outline: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.music-box button i
{
    font-size: 20px;
}

@media (max-width: 991px) 
{
    .music-box button 
    {
        right: 0;
        left: auto;
    }
}

.music-box .toggle-music-box 
{
    top: -50px;
    visibility: visible;
    opacity: 1;
}

.music 
{
    padding: 0;
    background: none !important;
    border: none !important;
    position: relative;
    top: 100px;
    left: 180px;
}

.music:focus 
{
    outline: none;
}

.fa-stack
{
    right:12px;
    top: -65px;
    width: 0;
    height: 0;
}